PSCWindowsService/Service References/DataService/DataService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDataService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/CommonService/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/CommonService/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/CommonService/DataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetWSQImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWSQImages" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetWSQImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWSQImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SetWSQImages_InputMessage">
    <wsdl:part name="parameters" element="tns:SetWSQImages" />
  </wsdl:message>
  <wsdl:message name="IDataService_SetWSQImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetWSQImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveWSQInDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWSQInDatabase" />
  </wsdl:message>
  <wsdl:message name="IDataService_SaveWSQInDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWSQInDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetWSQImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetWSQImages" message="tns:IDataService_GetWSQImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetWSQImagesResponse" message="tns:IDataService_GetWSQImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetWSQImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SetWSQImages" message="tns:IDataService_SetWSQImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SetWSQImagesResponse" message="tns:IDataService_SetWSQImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWSQInDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/SaveWSQInDatabase" message="tns:IDataService_SaveWSQInDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/SaveWSQInDatabaseResponse" message="tns:IDataService_SaveWSQInDatabase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDataService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWSQImages">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetWSQImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWSQImages">
      <soap:operation soapAction="http://tempuri.org/IDataService/SetWSQImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWSQInDatabase">
      <soap:operation soapAction="http://tempuri.org/IDataService/SaveWSQInDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://localhost/CommonService/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>