PSCBioIdentification/Service References/MemoryCacheMatchingService/MatchingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatchingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IMatchingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MemoryCacheService/MatchingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MemoryCacheService/MatchingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MemoryCacheService/MatchingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/MemoryCacheService/MatchingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchingService_getFingerList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFingerList" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_getFingerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFingerListResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_Terminate_InputMessage">
    <wsdl:part name="parameters" element="tns:Terminate" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_Terminate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_verify_InputMessage">
    <wsdl:part name="parameters" element="tns:verify" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_verify_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_match_InputMessage">
    <wsdl:part name="parameters" element="tns:match" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_match_OutputMessage">
    <wsdl:part name="parameters" element="tns:matchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchingService_match_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IMatchingService">
    <wsdl:operation name="getFingerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchingService/getFingerList" message="tns:IMatchingService_getFingerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchingService/getFingerListResponse" message="tns:IMatchingService_getFingerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchingService/Terminate" message="tns:IMatchingService_Terminate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchingService/TerminateResponse" message="tns:IMatchingService_Terminate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verify">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchingService/verify" message="tns:IMatchingService_verify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchingService/verifyResponse" message="tns:IMatchingService_verify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="match">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchingService/match" message="tns:IMatchingService_match_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchingService/matchResponse" message="tns:IMatchingService_match_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMatchingService/matchExceptionFault" name="ExceptionFault" message="tns:IMatchingService_match_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IMatchingService" type="tns:IMatchingService">
    <wsp:PolicyReference URI="#WSHttpBinding_IMatchingService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFingerList">
      <soap12:operation soapAction="http://tempuri.org/IMatchingService/getFingerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <soap12:operation soapAction="http://tempuri.org/IMatchingService/Terminate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify">
      <soap12:operation soapAction="http://tempuri.org/IMatchingService/verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="match">
      <soap12:operation soapAction="http://tempuri.org/IMatchingService/match" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap12:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchingService">
    <wsdl:port name="WSHttpBinding_IMatchingService" binding="tns:WSHttpBinding_IMatchingService">
      <soap12:address location="http://localhost/MemoryCacheService/MatchingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/MemoryCacheService/MatchingService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>